[package]
name = "acdc-terminal"
description = "`cat` like converter for `AsciiDoc` documents"
version.workspace = true
edition.workspace = true
authors.workspace = true

[dependencies]
acdc-converters-common.workspace = true
acdc-core.workspace = true
acdc-parser.workspace = true
clap.workspace = true
comfy-table = "7.2"
crossterm.workspace = true
syntect = "5.3"
thiserror.workspace = true
tracing.workspace = true
# images on the terminal
viuer = { version = "0.9", features = ["print-file"] }

[dev-dependencies]
pretty_assertions.workspace = true

[lints.rust]
unsafe_code = "forbid"

[lints.clippy]
# Defensive programming
wildcard_enum_match_arm = "deny"
indexing_slicing = "deny"
fallible_impl_from = "deny"
unwrap_used = "deny"
expect_used = "deny"
panic = "deny"
pedantic = "deny"
unreachable = "deny"
todo = "deny"
unimplemented = "deny"
