[package]
name = "acdc-cli"
version.workspace = true
edition.workspace = true
authors.workspace = true
description.workspace = true

[[bin]]
name = "acdc"
path = "src/main.rs"
test = false
doc = false

[[bin]]
name = "acdc-tck"
path = "src/bin/tck.rs"
required-features = ["tck"]
test = false
doc = false

[[bin]]
name = "acdc-inspect"
path = "src/bin/inspect.rs"
required-features = ["inspect"]
test = false
doc = false

[dependencies]
acdc-converters-common.workspace = true
acdc-core.workspace = true
acdc-html = { path = "../converters/html", optional = true }
acdc-parser.workspace = true
acdc-terminal = { path = "../converters/terminal", optional = true }
anyhow = "1.0.100"
clap.workspace = true
crossterm.workspace = true
miette = { version = "7", features = ["derive", "fancy"] }
rayon.workspace = true
serde.workspace = true
serde_json.workspace = true
thiserror.workspace = true
tracing.workspace = true
tracing-subscriber = { version = "0.3.20", features = ["env-filter"] }

[features]
default = ["html"]
html = ["dep:acdc-html"]
tck = []
inspect = []
terminal = ["dep:acdc-terminal"]

[lints]
workspace = true
