[package]
name = "acdc-html"
description = "HTML converter"
version.workspace = true
edition.workspace = true
authors.workspace = true

[dependencies]
acdc-converters-common.workspace = true
acdc-core.workspace = true
acdc-parser.workspace = true
chrono = "0.4"
thiserror.workspace = true
tracing.workspace = true

[dev-dependencies]
pretty_assertions.workspace = true

[lints.rust]
unsafe_code = "forbid"

[lints.clippy]
# Defensive programming
wildcard_enum_match_arm = "deny"
indexing_slicing = "deny"
fallible_impl_from = "deny"
unwrap_used = "deny"
expect_used = "deny"
panic = "deny"
pedantic = "deny"
unreachable = "deny"
todo = "deny"
unimplemented = "deny"
